.clothes_cnt{
   margin: 0 -35px;

   .products_infos{
      padding: 20px;

      a{
         color: black;
         text-decoration: none;

         .name_prod{
            font-weight: bold;
         }

         p{
            margin-bottom: 0;
         }
      }
   }
}

.add_element{

   input{
      width: 100%;
      margin-bottom: 20px;
   }

   textarea{
      margin-bottom: 20px;
   }

   input[type=submit]{
      width: 100px;
   }

}
